<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @eat24signin.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @eat24signin.lastname %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @eat24signin.emailid %>
</p>

<p>
  <strong>Emailidconformation:</strong>
  <%= @eat24signin.emailidconformation %>
</p>

<p>
  <strong>Password:</strong>
  <%= @eat24signin.password %>
</p>

<%= link_to 'Edit', edit_eat24signin_path(@eat24signin) %> |
<%= link_to 'Back', eat24signins_path %>
