<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contenttype %><br>
    <%= f.text_field :contenttype %>
  </div>
  <div class="field">
    <%= f.label :lenght %><br>
    <%= f.number_field :lenght %>
  </div>
  <div class="field">
    <%= f.label :posted_from %><br>
    <%= f.text_field :posted_from %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
