<p id="notice"><%= notice %></p>

<p>
  <strong>Contenttype:</strong>
  <%= @post.contenttype %>
</p>

<p>
  <strong>Lenght:</strong>
  <%= @post.lenght %>
</p>

<p>
  <strong>Posted from:</strong>
  <%= @post.posted_from %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
